* {
  box-sizing: border-box;
}

.letters {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
  gap: 20px;
}

.letters a {
  display: block;
  text-align: center;
  color: #000;
  text-decoration: none;
  padding: 10px;
}

.letters a:hover {
  background-color: aliceblue;
}

.drinks {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  gap: 20px;
}

.offset-md-1{
  color: darkslategray;
}

body{
  background-color: rgb(174 175 189);
}